@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

body {
    font-family: Quicksand;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: #c5f3f7;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #ff6600;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grow:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}